
/* .App {
  text-align: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
  color: black;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-shadow: 0px, 0px, 4px, rgba(0, 0, 0, 0.9);
}
/* 
.app{
  height: 60vh;
  display: flex;
}

h1{
  font-size: 3em;
  color: rgba(34, 213, 233, 0.7);
  letter-spacing: 0.1em;
  text-shadow: 4px 4px rgba(245, 57, 75, 0.9);
} */
